@import url('https://fonts.googleapis.com/css?family=Pacifico|Fresca|Montserrat|Roboto')

$content-width: 100%

.error-message
  display: none

.margin-10-div
  margin-top: 10px

.post-by
  font-style: italic
  display: inline

.edit-post-link
  text-decoration: underline
